# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml
#bun.lock - using bun
npm-debug.log*
yarn-error.log*

# Build
dist/
build/
*.tsbuildinfo

# Environment
.env
.env.local
.env.development
.env.test
.env.production

# Temporary
temp/
*.temp
scratch/
*.scratch

# Editor / OS
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Tests - for now
tests/